.type-a .viewport {
    width: 302px;
    height: 100px;
    overflow: hidden;
    white-space: nowrap;
}

.type-b .viewport {
    width: 302px;
    height: 302px;
    overflow: hidden;
    white-space: nowrap;
}

.type-a .grid {
    display: grid;
    grid-template-columns: repeat(10, 100px);
    grid-gap: 1px;
}

.type-b .grid {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-gap: 1px;
}

.item {
    width: 100px;
    height: 100px;
    background-color: blue;
}

.item.select {
    background-color: red;
}

.item.ready {
    color: orange;
}