.Section {
    padding: 30px;
    font-family: 'Fira Sans', sans-serif;
    color: #f1f2f3;
}

.Section__title {
    color: #f1f2f3;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2rem;
    margin-top: 0;
}

.Section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tryout {
    background: #202020;
}

#tryout .Section__title {
    margin-bottom: .5rem;
}

#tryout h2 {
    color: #f1f2f3;
    font-size: 1.3rem;
    font-family: 'Titillium Web', sans-serif;
}

.item {
    width: 100px;
    height: 100px;
    color: #f1f2f3;
    line-height: 100px;
    text-align: center;
    background-color: #29b6f6;
    will-change: transform;
}

.item.select {
    background-color: #0288d1;
}

#installation {
    background: #303030;
}

#installation code {
    font-size: 1.3rem;
    padding: 10px 20px;
    border-radius: 5px;
}

#usage {
    background: #404040;
}

#usage h2, #usage h3 {
    font-weight: 400;
}

#usage li:not(:last-child) {
    margin-bottom: 5px;
}
