.Section {
    background: #202020;
}

.item {
    width: 100px;
    height: 100px;
    color: #f1f2f3;
    line-height: 100px;
    text-align: center;
    background-color: #039be5;
}

.item.select {
    background-color: red;
}
